<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>design 4 </title>
  </head>
  <style>
.first-div{
    border:2px solid black;
    background:white;
    height:100%;
    -webkit-print-color-adjust: exact;font-weight:bold;
}
th,td{
  border:1px solid black;
  padding:20px;
  text-align:center;
}

* {
   font-family: myFirstFont;
}

  </style>
  <body style="color:black;">
    
    <div class="first-div col-sm-12 col-md-12" id="print-content" style="">
      <center> <h1 style="color:blue"><u> RESUME </u> </h1> </center>
    
    <div class="container">

    <h3 contenteditable="true">Abhijeet Kumar</h3>
    <p>
    <ul style="list-style:none;" contenteditable="true"> 
        <li>At:  Baharmarar </li>
        <li>Ta:  Parsa </li>
        <li>Dist:  Saran </li>
        <li>Pin Code:  841219 </li>
        <li>Mobile No:  +91-9955718214, +91-9097968293 </li>
        <li>E-mail:  kumarinbox31@gmail.com </li>
        <li>Linkedin:  www.linkedin.com/in/abhijeet-kumar-15b316213 </li>
    </ul>
    </p>
<br>


<h5 style="background:#70cfd8;border:1px solid black;padding:10px;"> CAREER OBJECTIVE: </h5>
<ul>
<p contenteditable="true">
To be associated with a progressive organization, where I can employ web developer, 
programmer & Computer Vision knowledge and skills to 
contribute the growth of the organization and personal growth in an effectual manner. 
</p>
</ul>

<h5 style="background:#70cfd8;border:1px solid black;padding:10px;"> EDUCATIONAL QUALIFICATION: </h5>

<table style="margin-left:27px;">
<thead>
<th> Sl. No. </th>
<th> Course </th>
<th> Board/University </th>
<th> Passing Year </th>
<th> Percentage </th>
</thead>
<tbody>
<td> 1 </td>
<th contenteditable="true"> S.S.C. </th>
<th contenteditable="true"> B. S. E. B. </th>
<th contenteditable="true"> 2016 </th>
<th contenteditable="true"> 61.6% </th>
</tbody>
<tbody>
<td> 2 </td>
<th contenteditable="true"> I.S.C. </th>
<th contenteditable="true"> B. S. E. B. </th>
<th contenteditable="true"> 2019</th>
<th contenteditable="true"> 62% </th>
</tbody>
<tbody>
<td> 3 </td>
<th contenteditable="true"> B.A. </th>
<th contenteditable="true"> J.P. University </th>
<th contenteditable="true"> Pursuing </th>
<th contenteditable="true"> </th>
</tbody>
</table>


<h5 style="background:#70cfd8;border:1px solid black;padding:10px;margin-top:10px;"> Technical Skills : </h5>
<ul contenteditable="true">
<li> Knowledge of Web Development  with HTML, CSS, JAVASCRIPT & PHP.</li>
<li> Knowledge of Bootstrap </li>
<li> Knowledge of Python Programming</li>
<li> ADCA (Advance Diploma in Computer Application)</li>
</ul>

<h5 style="background:#70cfd8;border:1px solid black;padding:10px;margin-top:10px;"> EXPERIENCE: </h5>
<ul contenteditable="true">
<li> I have one year experience as web developer in MSPE, Saran, Bihar. Duration :-  Jan.-2020 to Jan.-2021</li>
</ul>


<h5 style="background:#70cfd8;border:1px solid black;padding:10px;margin-top:10px;"> PERSONAL DETAILS: </h5>
<ul contenteditable="true">
<li> Name : Abhijeet Kumar</li>
<li> Birth date	: 02-02-1999</li>
<li> Gender	: Male </li>
<li> Contact No.	: 9955718214 </li>
<li>Mail Id	:	kumarinbox31@gmail.com  </li>
<li>Language known	:  Hindi, Bhojpuri & English.  </li>
<li> Hobbies	: Reading, writing and computer operating </li>

</ul>

<br>

<br>



<p contenteditable="true"> Date : 24/05/2021	</p>
<p contenteditable="true"> Place : Saran (Bihar)	<b style="text-align:center;"> 
<i style="float:right;"> <b>(Abhijeet Kumar) </b> </i>

<b>
</p>






  <center> <a type="button" class="btn btn-outline-danger" onclick="this.href='data:text/html;charset=UTF-8,'+encodeURIComponent(document.documentElement.outerHTML)" 
              href="#" download="page.html">Download</a></center>


    </div>
    </div>














<script>
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
  <!--  <script type="text/javascript">
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        w=window.open();
        w.document.write(printContents);
        w.print();
        w.close();
    }
</script> -->
  </body>
</html>
